{% extends "administration/base.html" %}
{% block content %}
  <!-- Block d'affichage des messages -->
  {% if messages %}
    <div class="mb-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded">
        <div class="card-body p-5">
            <h2 class="text-primary text-center mb-4">
                <i class="bi bi-shield-lock-fill me-2"></i>
                Modifier mes informations sensibles
            </h2>

            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label fw-bold">Nouvelle adresse email</label>
                    <input type="email" name="email" class="form-control" placeholder="exemple@email.com" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Nouveau mot de passe</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Valider les modifications</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
